{%  extends 'skeleton.html' %}

{% block content %}
    <h1>Nouveau bateau</h1>

    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Valider">
    </form>
{% endblock content %}
