{% extends 'skeleton.html' %}

{% block content %}
    <h4>{{ boat.name }}</h4>

    <a href="{% url 'boat-sailor-create' boat.pk %}">Ajouter matelot</a>
    <a href="{% url 'cbv-boat-sailor-create' boat.pk %}" style="color: red">CBV</a>

    <table class="table">
        <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Alias</th>
                <th>Poste</th>
            </tr>
        </thead>
        <tbody>
            {% for sailor in boat.crew.all %}
                <tr>
                    <td>{{ sailor.first_name }}</td>
                    <td>{{ sailor.last_name }}</td>
                    <td>{{ sailor.alias }}</td>
                    <td>{{ sailor.get_job_display }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
