{%  extends 'skeleton.html' %}

{% block content %}
    <h1>Liste des bateaux</h1>

    <a href="{% url 'boat-create' %}">Nouveau bateau</a>
    <a href="{% url 'cbv-boat-create' %}" style="color: red">CBV</a>

    <ul>
        {% for boat in boats %}
            <li>
                <a href="{% url 'boat-detail' boat.pk %}">{{ boat.name }}</a>
                <a href="{% url 'cbv-boat-detail' boat.pk %}" style="color: red">CBV</a>
            </li>
        {% empty %}
            <li>Aucun bateau</li>
        {% endfor %}
    </ul>
{% endblock content %}
